<div class="container">
  <div class="row">
    <div class="mx-auto mt-1 search-box">
      <% if user_signed_in? %>
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.submit "\uF002", class: "search-button" %>
          <%= f.text_field :content, class: "content-box", placeholder: "Search" %>
          <div class="radio-box">
            <%= f.radio_button :model, "user", checked: true %>
            <%= f.label :model,"", value: "user" , class: "fas fa-user"%>
          </div>
          <div class="radio-box">
            <%= f.radio_button :model, "book" %>
            <%= f.label :model,"", value: "book", class: "fas fa-book" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>